GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_MAX_TOKENS=1024
DEBUG=true
PORT=8000

DEEPGRAM_API_KEY=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_MODEL_ID=eleven_multilingual_v2

DB_DIALECT=postgres
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
SUPABASE_URL=
SUPABASE_ANON_KEY=

